
<!DOCTYPE html> 
<html> 
<title>Stripe Payment Demo</title> 
<body> 
<h3>Welcome to Payment Gateway</h3> 
<form action="payment" method="POST"> 
<script 
          src="//checkout.stripe.com/v2/checkout.js"
          class="stripe-button"
          data-key="<%= key %>" 
          data-amount="2500" 
          data-currency="inr" 
          data-name="Crafty Gourav" 
          data-description="Handmade Art and Craft Products" 
          data-locale="auto" > 

          console.log(token);
</script> 
</form>

<script src="https://www.paypal.com/sdk/js?client-id=Afh5wBsDlo0PH8gUMh1bOHUP9U1dUkBDYcSQYABBnahUYdq12qYoKsWjWr0nAJ5nENv0i97zjiIV9LWy"></script>

<div id="paypal-button-container"></div>

<script>
          paypal.Buttons({
            createOrder: function(data, actions) {
              // This function sets up the details of the transaction, including the amount and line item details.
              return actions.request.post('/paypal/create-payment')
                .then(function(res) {
                    console.log(res);
                    return res.id;
                 });
            },
            onApprove: function(data, actions) {
              // This function captures the funds from the transaction.
              return actions.request.post('/paypal/execute-payment', {
                    paymentID: data.paymentID,
                    payerID:   data.payerID
                    }).then(function(details) {
                // This function shows a transaction success message to your buyer.
                alert('Transaction completed by ' + details.payer.name.given_name);
              });
            }
          }).render('#paypal-button-container');
          //This function displays Smart Payment Buttons on your web page.
        </script>
</body> 
</html> 